<!-- wp:template-part {"slug":"header","theme":"local1857","tagName":"header"} /-->

<!-- wp:pattern {"slug":"local1857/blog-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main
  class="wp-block-group"
  style="
    margin-top: var(--wp--preset--spacing--70);
    margin-bottom: var(--wp--preset--spacing--70);
  "
>
  <!-- wp:query {"queryId":0,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"align":"wide","layout":{"type":"default"}} -->
  <div class="wp-block-query alignwide">
    <!-- wp:post-template {"align":"wide","className":"local1857-posts-page-template","layout":{"type":"grid","columnCount":3}} -->
    <!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"max(15vw, 30vh)","align":"wide"} /-->

    <!-- wp:post-title {"isLink":true,"className":"local1857-posts-page-title"} /-->

    <!-- wp:post-date {"className":"local1857-posts-page-date"} /-->

    <!-- wp:post-excerpt {"excerptLength":35} /-->
    <!-- wp:read-more {"content":"Read More »", "className":"local1857-read-more-link"} /-->
    <!-- /wp:post-template -->

    <!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
    <!-- wp:query-pagination-previous {"label":"Newer Posts"} /-->

    <!-- wp:query-pagination-next {"label":"Older Posts"} /-->
    <!-- /wp:query-pagination -->
  </div>
  <!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"local1857","tagName":"footer"} /-->
