<!-- wp:template-part {"slug":"header","theme":"local1857","anchor":""} /-->

<!-- wp:pattern {"slug":"local1857/page-header"} /-->

<!-- wp:group {"className":"local1857-blog-content","layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group local1857-blog-content"><!-- wp:group {"className":"local1857-post-content","layout":{"type":"constrained"}} -->
<div class="wp-block-group local1857-post-content"><!-- wp:post-featured-image /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

