<!-- wp:template-part {"slug":"header","theme":"local1857"} /-->

<!-- wp:pattern {"slug":"local1857/blog-header"} /-->
  
  <!-- wp:columns -->
  <div class="wp-block-columns"><!-- wp:column {"width":"66.66%"} -->
  <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:group {"className":"local1857-blog-content","layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"center"}} -->
  <div class="wp-block-group local1857-blog-content"><!-- wp:post-title {"textAlign":"center","className":"local1857-post-title"} /-->
  
  <!-- wp:group {"className":"local1857-blog-post-details","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
  <div class="wp-block-group local1857-blog-post-details"><!-- wp:post-date {"format":"M j, Y","fontSize":"small"} /-->
  
  <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
  <div class="wp-block-group"><!-- wp:paragraph {"fontSize":"small"} -->
  <p class="has-small-font-size">Posted by:</p>
  <!-- /wp:paragraph -->
  
  <!-- wp:post-author-name {"fontSize":"small"} /--></div>
  <!-- /wp:group --></div>
  <!-- /wp:group -->
  
  <!-- wp:group {"className":"local1857-post-content","layout":{"type":"constrained"}} -->
  <div class="wp-block-group local1857-post-content"><!-- wp:post-featured-image /-->
  
  <!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
  <!-- /wp:group -->
  
  <!-- wp:group {"className":"local1857-blog-post-details","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"},"fontSize":"medium"} -->
  <div class="wp-block-group local1857-blog-post-details has-medium-font-size"><!-- wp:post-navigation-link {"type":"previous","label":"","showTitle":true,"arrow":"arrow","fontSize":"small"} /-->
  
  <!-- wp:post-navigation-link {"label":"","showTitle":true,"arrow":"arrow","fontSize":"small"} /--></div>
  <!-- /wp:group --></div>
  <!-- /wp:group --></div>
  <!-- /wp:column -->
  
  <!-- wp:column {"width":"33.33%","className":"local1857-blog-right-sidebar"} -->
  <div class="wp-block-column local1857-blog-right-sidebar" style="flex-basis:33.33%"><!-- wp:heading -->
  <h2 class="wp-block-heading">Other News</h2>
  <!-- /wp:heading -->
  
  <!-- wp:latest-posts {"postsToShow":3,"displayPostContent":true,"excerptLength":25,"displayAuthor":true,"displayPostDate":true,"displayFeaturedImage":true,"addLinkToFeaturedImage":true,"className":"local1857-recent-blogs","fontSize":"medium"} /-->
  
<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"left"}} -->
<div class="wp-block-buttons"><!-- wp:button {"textAlign":"left"} -->
  <div class="wp-block-button"><a class="wp-block-button__link has-text-align-left wp-element-button">See All News</a></div>
  <!-- /wp:button --></div>
  <!-- /wp:buttons --></div>
  
  <!-- /wp:column --></div>
  <!-- /wp:columns -->